<% include partial/header %>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3><%= currentUser.firstName + " " + currentUser.lastName %></h3>
            <div class="thumbnail">
                <img src="<%= currentUser.avatar %>" alt="user profile image">
                <div class="row ml-1">
                   My email: <div class="caption"><a href="mailto:<%= currentUser.email %>"><%= currentUser.email %></a></div>
                </div>
                <div class="row ml-1">
                    My Favorite Movie Genres: <%= currentUser.favoriteGenres %></div>
                </div>
            </div>
        <div class="col-8">
            <a href="/users/<%= currentUser._id%>/edit">Edit Profile</a>
            <h3><%= currentUser.username %>'s Movies</h3>
    <!--        <% campgrounds.forEach(campground => { %>-->
    <!--            <div class="col-md-4 col-sm-6">-->
    <!--                <div class="thumbnail card">-->
    <!--                    <img src="<%= campground.image.url %>" alt="<%= campground.name %>">-->
    <!--                    <div class="caption">-->
    <!--                        <h4 class="caption"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        <% }); %>-->
            </ul>
        </div>
    </div>
</div>


<% include partial/footer %>
